
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">System zarządzania materiałami</h1>
    <p>Witaj w systemie zarządzania materiałami studenckimi. Dzięki tej aplikacji już nigdy nie zgubisz się w materiałach :)</p>
</div>
<img class = "rounded" src = "~/Images/harnaś gaming.jpg" height=" 500px" width="800px" />

@section Styles{
    <link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" type="text/css" />
}
